.logoBox {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.logoText {
  color: var(--main-black);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.4px;
}
