.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: 680px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 28px;
}

.nav-link {
  color: var(--main-black);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1, 25;
}

.nav-link:hover,
.nav-link:focus {
  /* transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #5cd3a8; */
}

.nav-link.active {
  /* background: #5cd3a781;
  position: relative; */
}

.nav-link.active::before {
  /* position: absolute;

  display: inline-block;
  content: "";

  width: 100%;
  height: 4px;
  top: 60px;
  background: #5cd3a781;
  border-radius: 2px; */
}
